.App {
  text-align: center;
  margin: auto;
  width: 50%;
}

.myForm {
  width: 100%;
  background-color: rgba(182, 221, 138, 0.739);
  border-radius: 5px;
  padding: 20px;
}

.formField {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid rgb(153, 241, 81);
  border-radius: 5px;
  box-sizing: border-box;
}

.myButton {
  width: 30%;
  background-color: rgb(200, 140, 255);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.myList {
  display: flex;
}

.myListButton {
  display: inline;
  height: auto;
  width: auto;
  border-radius: 8px;
  border: 1px solid rgb(200, 140, 255);
  margin: 3px 5px;
}
